[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/hyperledger-gerrit-fabric-chaintool-committers
	owner = group ldap/hyperledger-gerrit-fabric-committers
	read = group GitHub Replication
[project]
	description = Hyperledger Fabric Chaintool
[access "refs/tags/*"]
	pushTag = group Administrators
	pushSignedTag = group Administrators
